html {
    background: #333;
}

body {
    background: url(https://berlinism.files.wordpress.com/2011/05/img_0074b.jpg) fixed;
}

.facebook {
    width: 3em;
    margin: 1em;
}

.toxz {
    width: 100%;
}

.thumbnail .play {
    background-size: cover;
    border-radius: 5px;
}

.thumbnail .play .btn {
    width: 100%;
    height: 18em;
    background: rgba(0, 0, 0, 0.6) url(../svg/play.svg) center no-repeat;
    background-size: 50% 50%;
}

.thumbnail .play .btn.sm2_playing {
    background-color: rgba(0, 0, 0, 0.4);
    background: url(../svg/pause.svg) center no-repeat;
    background-size: 50% 50%;
}

.thumbnail p {
    margin: 0.5em 0 0 0;
    padding: 0; 
}

.thumbnail .download {
    float: right;
    width: 5rem;
    height: 5rem;
    margin: 0 0 1em 1em;
    background: url(../svg/download.svg) center no-repeat;
}

.pulse {
    animation-name: pulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
 
@keyframes pulse {
    from {
        box-shadow: 0 0 30px #008966;
    }
    to {
        box-shadow: 0 0 10px #222;
    }
}